*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

ul
{
    padding: 0;
    margin: 0;
}

.container
{
   width:100%;
   margin: auto; 
}

.robjack
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   padding: 10% 3% 0 0;
   width: 45%

}

.menue 
{
   width: 100%;
   padding: 2vw 0 0 25vw;
   margin: auto;
}

.menue li
{
   display: inline; 
}

.menue li a
{
    font-size: 2vw;
    text-decoration: none;
    color: #00ff00;
    padding: 0.25em 0.25em 0.25em 0.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.10em;
    border: 0.05em solid #00ff00;
}

.menue li a:hover
{
    color: #000000;
    background: #00ff00;
    transition: .5s;
    color: #000000;
}

@media screen and (max-width:900px){

body
{
   margin: 0; 
   height: 100%; 
   overflow: hidden
}

.robjack
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 35vh;
   margin-bottom: auto;
   padding: 10% 3% 0 0;
   width: 80%
}

.menue 
{
   width: 100%;
   padding: 2vw 0 0 5vw;
   margin: auto;
}

.menue li a
{
    font-size: 3.6vw;
    text-decoration: none;
    color: #00ff00;
    padding: 0.25em 0.25em 0.25em 0.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.10em;
    border: 0.05em solid #00ff00;

}
}


